* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: rgb(255, 211, 16) ;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 550px;
  min-height: 650px;
  background: #141827;
  text-align: center;
  margin: 150px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 40px 0;
  color: #fff;
  font-size: 32px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.complete:hover{
  cursor: pointer;
}

.todo-form {
  margin-bottom: 36px;
}

.todo-input {
  padding: 22px 36px 22px 24px;
  border-radius: 5px 0 0 5px;
  border: 2px solid rgb(255, 129, 12);
  outline: none;
  width: 360px;
  background: transparent;
  color: #fff;
  font-size: 18px;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  font-size: 18px;
  padding: 24px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(255, 129, 12) 0%,
    rgb(250, 171, 0) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 24px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(255, 12, 202) 0%,
    rgb(218, 154, 193) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:hover{
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
